
<p>
Hello, welcome to the loading slider demo!
</p>

<p>
This demo shows an animation between each route transition. However you
can also use this loading indicator for other things such as saving models
to the server. It's as simple as <code>this.send('loading')</code> in your
controller or route with an optional <code>this.send('finished')</code> following.
</p>

